.about_me
  .left.my_pic.border_grey
    = image_tag "me.png"
  .right.about_info.white
    %p
      %i.left.large{:style => "margin:1px" } Photography
      &nbsp;
      just happened to me. And now it is my passion. Now i want to grow and mature as a photographer. Learn
      more at times from my pictures and at times from others. I believe there is always something to capture in the moments
      we live, at times its my heart that captures it and at times its my camera.
    %br/
    %p
      Being a Web and Middleware engineer, life was monotonous and i always had a side for colors and photography. And then,
      I decided to buy a Canon 130SX. That was the beginning of it. Let me know if you like my work.
    %br/
    %p
      Thanks
    %br/
    %hr/
    %hr/
    %br/
    I reside here :-
    %ul
      %br/
      %li
        %span.yellow ⚡
        = link_to "My facebook", "http://www.facebook.com/abhineet.bhamra"
      %li
        %span.yellow ⚡
        = link_to "Flickr", "http://www.flickr.com/photos/abhamra/"
      %li
        %span.yellow ⚡
        = link_to "My email", "mailto:abybhamra@gmail.com"
      %li
        %span.yellow ⚡
        = link_to "LinkedIn public profile", "http://www.linkedin.com/pub/abhineet-singh-bhamra/20/b39/2a9"
      %li
        %iframe{:allowtransparency => "tarue", :frameborder => "0", :scrolling => "no", :src => "http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fabhineetbhamrablog.heroku.com%2F&amp;layout=standard&amp;show_faces=true&amp;width=450&amp;action=like&amp;font=trebuchet+ms&amp;colorscheme=dark&amp;height=80", :style => "border:none; overflow:hidden; width:450px; height:80px;"}
