= javascript_include_tag 'round_me', 'lightbox'

.photo_container.rounded_corner
  .photo_frame.rounded_corner
    = link_to image_tag("/images/#{image_box.human_name}", :alt => image_box.qoute, :id => "#{image_box.human_name}", :class => "rounded_corner"), "##{image_box.human_name}", :class => "lightbox_pop", :title => image_box.qoute
    %hr
    .photo_info
      %h4 Qoute
      = image_box.qoute
