.images
  %h2 Listing images
  %table
    %tr
      %th Human Name
      %th Content type
      %th Qoute
      %th Image Url
      %th Action
    - @images.try(:each) do |image|
      %tr
        %td
          = image.human_name rescue image.name
        %td
          = image.content_type rescue "external url"
        %td
          = image.qoute
        %td
          - path = art_path(image.human_name) rescue ext_art_path(image.id)
          = link_to "image-url", path
        %td.action
          = link_to 'Show', (image_path(image.human_name) rescue image.url)
  %br/
  %hr/
  = link_to 'New Image', new_image_path
