!!!
%html
  %head
    %title Abhineetsinghbhamra
    = stylesheet_link_tag :all, :recursive => true
    = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"
    = csrf_meta_tag
  %body
    .header
      = image_tag "/images/name_logo/white_shadow_small.png"
    .content
      = render :partial => "shared/top_nav"
      = yield
    .footer
