!!!
%html
  %head
    %title Abhineet Singh Bhamra
    %link(rel="icon" type="image/png" href="/images/favicon.png")
    = stylesheet_link_tag "third_party/reset", "third_party/tabbedContent", "../fancybox/jquery.fancybox-1.3.4"
    = stylesheet_link_tag :all
    = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"
    = javascript_include_tag "third_party/jquery.corner", "application"
    = javascript_include_tag "../fancybox/jquery.fancybox-1.3.4"
    = csrf_meta_tag
    %meta{'NAME' => 'http-equiv', :content => 'text/html'}/
    %meta{'NAME' => 'description', :content => 'A site by Abhineet Singh Bhamra, for his experiences with photography.'}/
    %meta{'NAME' => 'keywords', :content => 'abhineet,singh,bhamra,photographs,photography,blog,recent'}/
    %meta{'NAME' => "ROBOTS",  :content => "all"}/
  %body
    .header
      = link_to image_tag("/images/name_logo/white_shadow_small.png"), root_path
    .content
      - if params[:controller] == "homes"
        .facebook_like_box.left
          %iframe{:allowtransparency => "true", :frameborder => "0", :scrolling => "no", :src => "http://www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fpages%2FAbhineet-Singh-Bhamra-Photography-Website%2F217129098302730&amp;width=270&amp;colorscheme=dark&amp;show_faces=true&amp;stream=false&amp;header=false&amp;height=400", :style => "border:none;overflow:hidden;width:270px;height:400px;"}
        = render :partial => "shared/top_nav"
      = yield
    .footer

:javascript
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-22343101-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
